<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot Password</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/forgotPassword.css">
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
</head>

<body>
  <box-icon class="back-btn" name="arrow-back" onclick="backToHome()"></box-icon>
  <h1 class="heading">Forgot Password</h1>
  <div class="forgot-password-box">
    <%- include('partials/errorMsgs') %>
    <form class="forgot-password-form" action="/forgotPassword" method="POST">
      <input type="email" name="username" placeholder="Enter Your Email" required autofocus autocomplete="off" spellcheck="false">
      <button type="submit">Send Reset Link</button>
    </form>
  </div>

  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
