<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/resetPassword.css">
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
</head>

<body>
  <h1 class="heading">Reset Password</h1>
  <div class="reset-password-box">
    <%- include('partials/errorMsgs') %>
    <form class="reset-password-form" action="/resetPassword" method="POST">
      <div class="password-field">
        <input onkeyup="triggerNewPassword()" class="pass new-pass" type="password" name="newpassword" placeholder="New Password" autofocus required autocomplete="off" spellcheck="false">
        <span class="showBtn new-pass-btn"><img class="eye-image new-pass-eye" src="images/eye.png" alt="SHOW"></span>
      </div>
      <div class="password-field">
        <input onkeyup="triggerConfirmPassword()" class="pass confirm-pass" type="password" name="confirmpassword" placeholder="Confirm Password" required autocomplete="off" spellcheck="false">
        <span class="showBtn confirm-pass-btn"><img class="eye-image confirm-pass-eye" src="images/eye.png" alt="SHOW"></span>
      </div>
      <button type="submit">Update Password</button>
      <input class="hidden-input" type="hidden" name="token" value="<%=token%>">
    </form>
  </div>

  <script src="js/resetPassword.js" charset="utf-8"></script>
  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
